<html>
<head>

    {# if we have title then "if" blog will be executed and title will be (Flask Blog - Titlename)
     or else, "else" blog will be executed and title will be "Flask Blog"
    #}
    {% if title %}
        <title> Flask Blog - {{title}} </title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}


</head>
<body>
    {% for post in posts %}   
        <h3> {{ post.title }} </h3>
        <p>By {{ post.author }} on {{ post.date_posted }}</p>
        <p> {{ post.content }} </p>
    {% endfor %}
    </center>
</body>

</html>