<!--This home.html extends layout.html-->
{% extends "layout.html" %}

<!--The below content block is also present in layout.html and it needs to be overrided by home.html page, so we describe it here-->

{% block content %}
    {% for post in posts %}   
        <h1> {{ post.title }} </h1>
        <p>By {{ post.author }} on {{ post.date_posted }}</p>
        <p> {{ post.content }} </p>
    {% endfor %}>
{% endblock content %}  <!-- endblock will also work, but jinja2 template also allows us to use block name, i.e (endblock content), which is more readable-->