<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='eshancss/eshanstyle.css') }}" >

    <!--  In the above link tag, we used Jinja2 template in href field, to link eshanstyle.css file to this index.html
      url_for is used to create dynamic url.

      There Must be a folder named "static".
      inside which you can save css or javascript files directly or in separate subfolders.
      In the above case, I saved eshanstyle.css(you can give any name) file in subfolder(name of subfolder files in it can be anything, but name of static folder must be static)
    -->

    <script type="text/javascript" src="{{ url_for('static', filename='eshanjs/eshanscript.js') }}">
    </script>
    <!--   
       Just like css, similar is the case with jsva script. 
       In the above script tag, we used Jinja2 template in src field, to link eshanscript.js file to this index.html

       There Must be a folder named "static".
       I created a subfolder inside static named "eshanjs"
       then I saved eshanscript.js file in it. 
    -->

</head>


<body>
<center>
<h2>Subject Table</h2>
<form action="/submit" method="post">
    <label for="Science">Science:</label> <input type="text" id="science", name="science" value="0"> <br>
    <label for="Maths">Maths:</label> <input type="text" id="maths", name="maths" value="0"> <br>
    <label for="datascience">Datascience:</label> <input type="text" id="datascience", name="datascience" value="0"> <br>
    <label for="C">C:</label> <input type="text" id="c", name="c" value="0"> <br>
    <input type="submit" value="submit">
</form>
</center>
</body>
</html>